<div class="container">
    <h1 class="allRequests_h1">جميع طلبات الاجازات
        <button class="btn btn-primary float-left ml-10" (click)="refresh()">
            <i class="icon ion-md-refresh"></i> تحديث
        </button>
    </h1>
    <div class="row">
        <div class="col-md-3" *ngFor="let vacation of vacations">
            <div class="card allRequests_card mb-30" style="width: 18rem;">
                <div class="allRequests_image" style="position:relative">
                    <img [src]='vacation.vacationRequest.user.image' onerror="this.src='assets/images/default_avatar.png'" alt="image" class="profile-pic" style="width:100%">
                    <div class="d-flex mb-10 justify-content-between vacation-dates">
                        <div><strong class="ml-10" style="color:#09c">من</strong>{{vacation.vacationRequest.start_date | date:'dd/MM'}}</div>
                        <div><strong class="ml-10" style="color:#09c">الي</strong>{{vacation.vacationRequest.end_date | date:'dd/MM'}}</div>
                    </div>
                </div>
                <div class="card-body" style="padding: 1rem 1.81rem;">
                    <h5 class="card-title mb-13"> {{vacation.vacationRequest.user.name}} </h5>
                    <p class="card-text mb-10">{{vacation.vacationRequest.note}}</p>
                    <textarea #reasonRequest (keyup)="requestReason(reasonRequest.value)" placeholder="برجاء كتابة السبب قبل القبول او الرفض "
                        class="form-control mb-20" style="width:100%;"></textarea>
                    <p *ngIf="vacation.vacationInMonth >= branch.numberOfVacationMonth" style="color:red;margin-top:-10px" >لقد اكتملت طلبات الاجازة لديك</p>
                    <div style="display:flex;justify-content:center">
                        <button class="btn btn-primary ml-10" (click)="acceptVacation(vacation.vacationRequest._id)"  style="padding: 10px 36px"> قبول</button>
                        <!-- [disabled]="vacation.vacationInMonth >= branch.numberOfVacationMonth" -->
                        <button class="btn btn-danger mr-10" (click)="rejectVacation(vacation.vacationRequest._id)" style="padding: 10px 36px"> رفض</button>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="vacations.length == 0" class="col-12 mt-20 mb-50">
        <div class="card">
            <div class="card-body">
                <div class="op-50" center>
                    <img src="assets/images/no-results.svg" width="80">
                    <p class="mt-15 mb-0">
                        <strong>لا يوجد طلبات للأجازات حتي الان !</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>