<div class="card mb-50">
	<div class="card-body">
		<div class="container">
			<h4 class="mb-35">
				<strong>إضافة عميل جديد</strong>
			</h4>

			<form #form="ngForm" role="form" autocomplete="off" (ngSubmit)="submitForm()">
				<div class="row">
					<div *ngIf="globals.isOnline" class="col-12 col-md-3 mx-auto mb-20">
						<div class="form-group clearfix" [class.error]="(number.invalid && (number.dirty || number.touched)) || numberExists">
							<label for="number" class="d-block">رقم الملف</label>
							<!-- <input type="number" class="form-control" [min]="nextNumber" [(ngModel)]="addModel.number"
								#number="ngModel" id="number" name="number" placeholder="رقم الملف" required> -->
							<input-debounce delay="500" controlId="number" controlType="number" placeholder="رقم الملف" #number="ngModel" [(ngModel)]="addModel.number"
							 id="number" name="number" (valueChanged)="checkNumber()" (keyup)="numberKeyUp()" required>
							</input-debounce>

							<inline-spinner *ngIf="checkingNumber" color="black" class="float-left mt--52 ml-30">
							</inline-spinner>

							<span class="error-label">{{ numberExists ? 'رقم الملف مستخدم من قبل' : 'هذا الحقل مطلوب' }}</span>
							<!-- <span class="error-label">هذا الحقل مطلوب</span> -->
						</div>
					</div>
					<div *ngIf="!globals.isOnline" class="col-12 mb-25" center>
						<span class="badge badge-info ts-14">
							لا يمكن تعديل رقم الملف فى حالة عدم وجود إتصال بالإنترنت, و سيتم تحديد رقم تلقائى للملف عند الإضافة!
						</span>
					</div>

					<div class="col-12"></div>

					<div class="col-12 col-md-6">
						<div class="form-group">
							<label for="arname">الإسم بالعربية</label>
							<input-debounce delay="500" placeholder="الإسم بالعربية" [(ngModel)]="addModel.name_ar" id="arname" name="arname" (valueChanged)="translateName()"
							 (keyup)="nameKeyUp()" required>
							</input-debounce>
							<span class="error-label">هذا الحقل مطلوب</span>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="form-group" [class.error]="enname.invalid && (enname.dirty || enname.touched)">
							<label for="enname">الإسم الإنجليزية</label>
							<input type="text" class="form-control en-font" [(ngModel)]="addModel.name_en" #enname="ngModel" id="enname" name="enname"
							 placeholder="Name in English" required>

							<inline-spinner *ngIf="translating" color="black" class="float-left mt--52 ml-30">
							</inline-spinner>

							<span class="error-label">هذا الحقل مطلوب</span>
						</div>
					</div>

					<div class="col-12 col-md-6">
						<div class="form-group clearfix" [class.error]="age.invalid && (age.dirty || age.touched)">
							<label for="age" class="d-block">السن</label>
							<input type="number" class="form-control w-100 float-right" min="1" max="100" [(ngModel)]="patientAge" id="age2" name="age2"
							 placeholder="السن" (keyup)="ageChanged()" required>

							<input type="text" class="form-control mr-10 float-right" style="width:calc(100% - 110px)" [(ngModel)]="addModel.age" #age="ngModel"
							 (bsValueChange)="bdChanged($event)" id="age" name="age" bsDatepicker [maxDate]="globals.today" required>

							<span class="error-label">هذا الحقل مطلوب</span>
						</div>
					</div>

					<div class="col-12 col-md-6">
						<div class="form-group" [class.error]="gender.invalid && (gender.dirty || gender.touched)">
							<label for="gender">النوع</label>
							<select-dropdown [items]="[{value:'male',title:'ذكر'},{value:'female',title:'أنثى'}]" [(ngModel)]="addModel.gender" #gender="ngModel"
							 controlId="gender" name="gender" placeholder="يرجى إختيار النوع" required>
							</select-dropdown>
							<span class="error-label">هذا الحقل مطلوب</span>
						</div>
					</div>

					<div class="col-12 col-md-4">
						<div class="form-group" [class.error]="nationality.invalid && (nationality.dirty || nationality.touched)">
							<label for="nationality">الجنسية</label>
							<select-dropdown [items]="[{value:'سعودى',title:'سعودى'},{value:'غير سعودى',title:'غير سعودى'}]" [(ngModel)]="addModel.nationality"
							 #nationality="ngModel" controlId="nationality" name="nationality" placeholder="يرجى إختيار الجنسية" required>
							</select-dropdown>
							<span class="error-label">هذا الحقل مطلوب</span>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="form-group" [class.error]="(mobile.invalid && (mobile.dirty || mobile.touched)) || mobileExists">
							<label for="phone">رقم التليفون</label>
							<!-- <input type="text" class="form-control" [(ngModel)]="addModel.mobile" #mobile="ngModel"
								id="phone" name="phone" placeholder="رقم التليفون" pattern="[0-9]*" required> -->
							<input-debounce delay="500" controlId="mobile" controlType="mobile" pattern="[0-9]+" placeholder="رقم التليفون" #mobile="ngModel"
							 [(ngModel)]="addModel.mobile" id="mobile" name="mobile" (valueChanged)="checkMobile()" (keyup)="mobileKeyUp()" required>
							</input-debounce>
							<!--  pattern="^((?:[+?0?0?966]+)?(?:\s?\d{2})(?:\s?\d{7}))" -->

							<inline-spinner *ngIf="checkingMobile" color="black" class="float-left mt--52 ml-30">
							</inline-spinner>

							<span class="error-label">{{ mobileExists ? 'رقم التليفون مستخدم من قبل' : 'هذا الحقل مطلوب' }}</span>
							<!-- <span class="error-label">هذا الحقل مطلوب</span> -->
						</div>
					</div>

					<!-- <div class="col-12">
						<div class="form-group"
							[class.error]="contract.invalid && (contract.dirty || contract.touched)">
							<label for="contract">تابع لشركة</label>
							<select-dropdown [items]="contracts" [(ngModel)]="addModel.contract" #contract="ngModel"
								controlId="contract" name="contract" placeholder="يرجى إختيار الشركة" required>
							</select-dropdown>
							<span class="error-label">هذا الحقل مطلوب</span>
						</div>
					</div> -->

					<div class="col-12 col-md-4">
						<div class="form-group" [class.error]="address.invalid && (address.dirty || address.touched)">
							<label for="address">المدينة</label>
							<select-dropdown [items]="_cities" [(ngModel)]="addModel.address" #address="ngModel" controlId="address" name="address" placeholder="يرجى إختيار المدينة"
							 required>
							</select-dropdown>
							<span class="error-label">هذا الحقل مطلوب</span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group">
							<label for="notes">ملاحظات</label>
							<textarea class="form-control" [(ngModel)]="addModel.notes" id="notes" name="notes" placeholder="ملاحظات"></textarea>
						</div>
					</div>
					
					<div class="col-12">
						<div class="form-group">
							<label for="type">تحديث ميعاد حساب الجلسات؟
								<span class="op-50 mr-5">(إختيارى)</span>
							</label>
							<input type="checkbox" [(ngModel)]="addModel.type" #type="ngModel" id="type" (change)="typeChangeing()" name="type">
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="reservationsCount" class="d-block">عدد الجلسات
								<span class="op-50 mr-5">(إختيارى)</span>
							</label>
							<input type="number" class="form-control" min="1" max="100" [disabled]="countDisabled" #reservationsCount [(ngModel)]="addModel.reservationsCount"
							 id="reservationsCount" name="reservationsCount2" placeholder="عدد الجلسات" (keydown)="globals.preventNegative($event)">
						</div>
					</div>
					<div class="col-12 mt-30">
						<button class="btn btn-primary" type="submit" [disabled]="form.invalid || (numberExists && !checkingNumber) || (mobileExists && !checkingMobile)">
							{{ editId ? 'حفظ التعديل' : 'إضافة العميل' }}
						</button>
						<button class="btn btn-success mr-10" type="button" (click)="submitForm(true)" [disabled]="form.invalid">
							{{ editId ? 'حفظ و حجز ميعاد' : 'إضافة و حجز ميعاد' }}
						</button>
						<button class="btn btn-default mr-10" type="button" (click)="reset()">مسح النموذج</button>
						<button *ngIf="editId" class="btn btn-default mr-10 float-left" type="button" (click)="cancel()">إلغاء التعديل</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="card">
	<div class="card-body">
		<div class="row mb-35" [class.disabled]="!globals.isOnline">
			<div class="col-12" style="color:red">
				<p class="mb-0"><strong>* يجب الضغط على زر ENTER لعمل عملية البحث</strong></p>
				<p><strong>* للرجوع للنتائج الكاملة بعد البحث يجب مسح الخانة و الضغط على ENTER</strong></p>
			</div>
			<!-- <div class="col-12 col-md-6 mx-auto">
				<input type="text" class="form-control search" [(ngModel)]="filter" (keyup)="filterData()" placeholder="بحث بكلمات مفتاحية">
			</div> -->
			<div class="col-12 col-md-3">
				<!-- <input type="text" class="form-control search" [(ngModel)]="filterNumber" (keyup)="filterData('number')" placeholder="رقم الملف"> -->
				<input type="text" class="form-control search" [(ngModel)]="filterNumber" (keyup)="filterPatients($event, 'filterNumber', filterNumber)" placeholder="رقم الملف">
			</div>
			<div class="col-12 col-md-3">
				<!-- <input type="text" class="form-control search" [(ngModel)]="filterMobile" (keyup)="filterData('mobile')" placeholder="رقم الجوال"> -->
				<input type="text" class="form-control search" [(ngModel)]="filterMobile" (keyup)="filterPatients($event, 'filterMobile', filterMobile)" placeholder="رقم الجوال">
			</div>
			<div class="col-12 col-md-3">
				<!-- <input type="text" class="form-control search" [(ngModel)]="filterName" (keyup)="filterData('name')" placeholder="العميل"> -->
				<input type="text" class="form-control search" [(ngModel)]="filterName" (keyup)="filterPatients($event, 'filterName', filterName)" placeholder="العميل">
			</div>

			<div class="col-12 col-md-3">
				<select class="form-control" [(ngModel)]="sort" (change)="filterData()">
				<option value="1">ترتيب الأحدث للأقدم</option>
					<option value="2">ترتيب الأقدم للأحدث</option>
				</select>
			</div>
		</div>

		<ngx-datatable [rows]="dataFiltered" [footerHeight]="50">
			<ngx-datatable-column name="رقم الملف" prop="number" [maxWidth]="100">
				<ng-template let-row="row" ngx-datatable-cell-template>{{ row.number && row.number != "null" ? row.number : '-' }}</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="الجنسية" prop="nationality" [maxWidth]="140">
				<ng-template let-row="row" ngx-datatable-cell-template>{{ row.nationality }}</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="الإسم بالعربية" prop="name_ar">
				<ng-template let-row="row" ngx-datatable-cell-template>{{ row.name_ar }}</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="رقم الجوال" prop="mobile" [maxWidth]="120">
				<ng-template let-row="row" ngx-datatable-cell-template>
					<a [href]="'tel:' + row.mobile" class="en-font">{{ row.mobile }}</a>
				</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="عدد الجلسات" prop="reservationsCount" [maxWidth]="120">
				<ng-template let-row="row" ngx-datatable-cell-template>{{ row.reservationsCount }}</ng-template>
			</ngx-datatable-column>
			<ngx-datatable-column name="إدارة" width="">
				<ng-template let-row="row" ngx-datatable-cell-template>
					<button class="btn btn-danger mr-5" tooltip="حذف" (click)="deleteModal.show(); deleteId = row._id">
						حذف
					</button>
					<button class="btn btn-primary mr-5" tooltip="تعديل" (click)="edit(row._id)">
						تعديل
					</button>
					<button class="btn btn-primary mr-5" tooltip="عرض حجوزات" (click)="reservations(row._id)" [class.disabled]="!globals.isOnline">
						حجوزات
					</button>
					<button class="btn btn-success mr-5" tooltip="عرض الفواتير" (click)="bills(row._id)" [class.disabled]="!globals.isOnline">
						الفواتير
					</button>
					<button class="btn btn-success mr-5" tooltip="حجز ميعاد" (click)="reserve(row)">
						حجز ميعاد
					</button>
					<!-- <div class="btn-group mr-5" dropdown>
						<button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
							<span class="caret"></span>
						</button>
						<ul *dropdownMenu class="dropdown-menu" role="menu">
							<li role="menuitem">
								<a class="dropdown-item" (click)="complete(row._id)">تكملة البيانات</a>
							</li>
							<li role="menuitem">
								<a class="dropdown-item" (click)="reserve(row._id)">حجز ميعاد</a>
							</li>
						</ul>
					</div> -->
				</ng-template>
			</ngx-datatable-column>
		</ngx-datatable>
		<!-- pagination -->
		<ngx-paginate *ngIf="globals.isOnline"
			[page]="page" 
			[options]="globals.options"  
			(pageChange)='pageChange($event)'>
		</ngx-paginate>
	</div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<h5 class="mb-25">لا يمكنك التراجع عن الحذف, تأكيد؟</h5>

				<button type="button" class="btn btn-default ml-10" (click)="deleteModal.hide(); deleteId = null">
					إلغاء
				</button>
				<button type="button" class="btn btn-danger" (click)="deleteModal.hide(); delete()">
					تأكيد الحذف
				</button>
			</div>
		</div>
	</div>
</div>

<div bsModal #billsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close float-left" aria-label="Close" (click)="billsModal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title float-right">فواتير
					<strong>"{{ userBills[0]?.bill.reservation?.patient?.name_ar }}"</strong>
				</h4>
			</div>
			<div class="modal-body">
				<ngx-datatable [rows]="userBills" [limit]="10" [footerHeight]="50">
					<ngx-datatable-column name="الرقم" [maxWidth]="100" prop="bill.number">
						<ng-template let-row="row" ngx-datatable-cell-template>{{ row.bill.number }}</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="التاريخ" prop="bill.date">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<span class="en-font">{{ row.bill.date | amDateFormat:'LL' }}</span>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="الدكتور" prop="bill.reservation.doctor.name">
						<ng-template let-row="row" ngx-datatable-cell-template>{{ row.bill.reservation?.doctor?.name }}
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="إدارة">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<button class="btn btn-primary mr-5" tooltip="عرض الفاتورة" (click)="showBill(row.bill.reservation?._id)">
								عرض
							</button>
							<button class="btn btn-primary mr-5" tooltip="عرض الخدمات" (click)="currentBillServices = row.services; servicesModal.show()">
								الخدمات
							</button>
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</div>
		</div>
	</div>
</div>

<div bsModal #reservationsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close float-left" aria-label="Close" (click)="reservationsModal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title float-right">
					حجوزات
					<strong>"{{ patientReservations[0]?.patient?.name_ar }}"</strong>
				</h4>
			</div>
			<div class="modal-body">
				<div class="row">

					<div *ngFor="let res of patientReservations; let i = index" class="col-12 col-md-6">
						<div class="card res-card full-opacity darker mb-20" [class.not-completed]="res.status?._id == notCompletedStatus" [class.completed]="res.status?._id == completedStatus">
							<div class="card-body">
								<div class="row">
									<div class="col-12 col-md-6">
										<p class="op-70 mb-2 ts-12">الدكتور</p>
										<h4>
											<strong>{{ res.doctor?.name }}</strong>
										</h4>
										<p class="op-70 mb-0">
											<strong>ميعاد الحجز: </strong>
											<span class="en-font">{{ '1/1/1 ' + res.time | amDateFormat:'hh:mm A' }}
											</span>
										</p>
										<p *ngIf="res.patient?.contract" class="op-70 mb-0">
											<strong>الشركة: </strong> {{ res.patient?.contract.name }}
										</p>
										<p *ngIf="res.servicesCount == 0" class="op-70 mb-0 mt-10 text-danger">
											<strong>* لم يتم تحديد خدمات الحجز</strong>
										</p>
									</div>
									<div class="col-12 col-md-2"></div>
									<div class="col-12 col-md-4" text-left>
										<div>
											<button class="btn btn-primary mr-5" tooltip="عرض الخدمات" (click)="currentBillServices = res.services; servicesModal.show()">
												عرض الخدمات
											</button>
										</div>
										<div class="mt-6">
											<button class="btn btn-success mr-5" tooltip="عرض الفاتورة" (click)="showBill(res._id)">
												عرض الفاتورة
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<div bsModal #servicesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close pull-right" aria-label="Close" (click)="servicesModal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ngx-datatable [rows]="currentBillServices" [limit]="10" [footerHeight]="50">
					<ngx-datatable-column name="الخدمة" prop="service.name">
						<ng-template let-row="row" ngx-datatable-cell-template>{{ row.service.name }}</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="الخصم" prop="discount">
						<ng-template let-row="row" ngx-datatable-cell-template>{{ row.discount }}%</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="القيمة" prop="price">
						<ng-template let-row="row" ngx-datatable-cell-template>{{ row.price }}</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="الدكتور" prop="reservation.doctor.name">
						<ng-template let-row="row" ngx-datatable-cell-template>{{ row.reservation?.doctor?.name }}
						</ng-template>
					</ngx-datatable-column>
				</ngx-datatable>
			</div>
		</div>
	</div>
</div>

<div bsModal #invoiceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-12" clearfix>
						<button class="btn btn-primary float-right mr-10 mt-21" type="button" (click)="startInvoicePrint()">
							طباعة الفاتورة
						</button>

						<button class="btn btn-default mr-10 float-left mt-21" type="button" (click)="invoiceModal.hide()">إلغاء</button>
					</div>
					<div class="col-12 mt-40">
						<div id="invoice" dir="ltr" style="padding:20px;color:#CBAF8B;font-size:15px;font-family:'Courier New', Courier, monospace !important;line-height:13px;font-weight:600">
							<div>
								<div style="float:left;width:calc(100% / 3.1);text-align:center">
									<p>Al Safwa</p>
									<p style="color:#7A6D5D">Al - Muhaideb Dentistry Group</p>
									<p>Special Clinics For Women & Children</p>
									<p>VAT: 302262572300003</p>
								</div>
								<div style="float:left;width:calc(100% / 3.1);text-align:center">
									<!-- <img src="assets/images/clinic.png" width="100"> -->
									<img src="assets/images/clinic.png" width="100">
									<p style="color:#7A6D5D">فاتـــــــــــورة</p>
									<p>Patient Bill</p>
								</div>
								<div style="float:left;width:calc(100% / 3.1);text-align:center">
									<p>الصفوة</p>
									<p style="color:#7A6D5D">مجموعة المهيدب لطب الأسنان</p>
									<p>عيادات متخصصة للرجال</p>
									<p>عيادات متخصصة للنساء و الأطفال</p>
									<p>الرقم الضريبى: ٣٠٢٢٦٢٥٧٢٣٠٠٠٠٣</p>
								</div>
								<div style="clear:both;height:1px"></div>
							</div>

							<div style="margin-top:15px">
								<div style="float:left;width:calc(50% - 20px);margin-right:20px">
									<div>
										<span style="display:block;float:left;width:125px;margin-top:6px;color:#7A6D5D">BILL NO. :</span>
										<span style="color:#7A6D5D;padding-top:7px;display:block;float:left;height:25px;width:calc(100% - 250px);background:#e6e2d9;text-align:center">
											{{ currentInvoice?.bill?.number }}
										</span>
										<span style="display:block;float:left;width:125px;margin-top:6px;color:#7A6D5D" dir="rtl">رقم الفاتورة:</span>
										<div style="clear:both;height:1px"></div>
									</div>
									<div style="margin-top:10px">
										<span style="display:block;float:left;width:125px;margin-top:6px;color:#7A6D5D">PATIENT :
										</span>
										<span style="color:#7A6D5D;padding-top:7px;display:block;float:left;height:25px;width:calc(100% - 250px);background:#e6e2d9;text-align:center">
											{{ currentInvoice?.reservation?.patient?.name_ar }}
										</span>
										<span style="display:block;float:left;width:125px;margin-top:6px;color:#7A6D5D" dir="rtl">المريض :</span>
										<div style="clear:both;height:1px"></div>
									</div>
									<div style="margin-top:10px">
										<span style="display:block;float:left;width:125px;margin-top:6px;color:#7A6D5D">PATIENT NO. :
										</span>
										<span style="color:#7A6D5D;padding-top:7px;display:block;float:left;height:25px;width:calc(100% - 250px);background:#e6e2d9;text-align:center">
											<!-- {{ currentInvoice?.reservation?.branch?.name }} -->
											{{ currentInvoice?.reservation?.patient?.number }}
										</span>
										<span style="display:block;float:left;width:125px;margin-top:6px;color:#7A6D5D" dir="rtl">رقم العميل :</span>
										<div style="clear:both;height:1px"></div>
									</div>
								</div>

								<div style="float:left;width:calc(50% - 20px);margin-left:20px">
									<div>
										<span style="display:block;float:left;width:125px;margin-top:6px;color:#7A6D5D">DATE :
										</span>
										<span class="en-font" style="color:#7A6D5D;padding-top:7px;display:block;float:left;height:25px;width:calc(100% - 250px);background:#e6e2d9;text-align:center">
											{{ currentInvoice?.bill?.date | amDateFormat:'LL' }}
										</span>
										<span style="display:block;float:left;width:125px;margin-top:6px;color:#7A6D5D" dir="rtl">التاريخ :</span>
										<div style="clear:both;height:1px"></div>
									</div>
									<div style="margin-top:10px">
										<span style="display:block;float:left;width:125px;margin-top:6px;color:#7A6D5D">TIME :
										</span>
										<span class="en-font" style="color:#7A6D5D;padding-top:7px;display:block;float:left;height:25px;width:calc(100% - 250px);background:#e6e2d9;text-align:center">
											{{ currentInvoice?.bill?.date | amDateFormat:'hh:mm A' }}
										</span>
										<span style="display:block;float:left;width:125px;margin-top:6px;color:#7A6D5D" dir="rtl">الوقت :</span>
										<div style="clear:both;height:1px"></div>
									</div>
									<div style="margin-top:10px">
										<span style="display:block;float:left;width:125px;margin-top:6px;color:#7A6D5D">DOCTOR :
										</span>
										<span style="color:#7A6D5D;padding-top:7px;display:block;float:left;height:25px;width:calc(100% - 250px);background:#e6e2d9;text-align:center">
											{{ currentInvoice?.reservation?.doctor?.name }}
										</span>
										<span style="display:block;float:left;width:125px;margin-top:6px;color:#7A6D5D" dir="rtl">الدكتور :</span>
										<div style="clear:both;height:1px"></div>
									</div>
								</div>
								<div style="clear:both;height:1px"></div>
							</div>

							<div style="margin-top:20px">
								<table border="1" style="width:100%;border-collapse:collapse;border-color:#7A6D5D">
									<thead>
										<th style="padding:10px;background:#7A6D5D;color:white;width:40%">
											<p style="margin:0 0 10px">الخدمة</p>
											<p style="margin:0">Service</p>
										</th>
										<th style="padding:10px;background:#7A6D5D;color:white;width:10%">
											<p style="margin:0 0 10px">الإجمالى</p>
											<p style="margin:0">Total Amount</p>
										</th>
										<th style="padding:10px;background:#7A6D5D;color:white;width:10%">
											<p style="margin:0 0 10px">نسبة الخصم</p>
											<p style="margin:0">Disc. %</p>
										</th>
										<th style="padding:10px;background:#7A6D5D;color:white;width:10%">
											<p style="margin:0 0 10px">قيمة الخصم</p>
											<p style="margin:0">Disc. Amt.</p>
										</th>
										<th style="padding:10px;background:#7A6D5D;color:white;width:10%">
											<p style="margin:0 0 10px">الصافى</p>
											<p style="margin:0">Net Amount</p>
										</th>
									</thead>
									<tbody>
										<tr *ngFor="let service of currentInvoice?.services">
											<td style="padding:15px;text-align:center">{{ service.service?.name }}</td>
											<td style="padding:15px;text-align:center">{{ service.price }}</td>
											<td style="padding:15px;text-align:center">{{ service.discount }}%</td>
											<td style="padding:15px;text-align:center">
												{{ (service.discount * service.price) / 100 }}</td>
											<td style="padding:15px;text-align:center">{{ service.price }}</td>
										</tr>

										<tr *ngIf="currentInvoice?.reservation?.patient?.nationality != 'سعودى'">
											<td colspan="4" style="padding:15px">
												<p style="margin:0 0 10px;color:#7A6D5D" dir="rtl">الضريبة المضافة 5%
												</p>
												<p style="margin:0;color:#7A6D5D">5% VAT</p>
											</td>
											<td style="padding:15px">{{ currentInvoice?.vat }}</td>
										</tr>

										<tr>
											<td colspan="3" style="padding:15px">
												<div class="float-right">
													<p style="margin:0 0 10px;color:#7A6D5D">الحساب</p>
													<p style="margin:0;color:#7A6D5D">ACCOUNT</p>
												</div>
												<p class="float-left">{{ currentInvoice?.bill?.user?.name }}</p>
												<div style="clear:both;height:1px"></div>
											</td>
											<td style="padding:15px">
												<p style="margin:0 0 10px;color:#7A6D5D">المجموع</p>
												<p style="margin:0;color:#7A6D5D">Total</p>
											</td>
											<td style="padding:15px">
												{{ getInvoiceServicesTotal() + currentInvoice?.vat }}</td>
										</tr>
										<tr>
											<td colspan="3" style="padding:15px">
												<div class="float-right">
													<p style="margin:0 0 10px;color:#7A6D5D">المبلغ المدفوع</p>
													<p style="margin:0;color:#7A6D5D">Amount Paid</p>
												</div>
												<p class="float-left">{{ currentInvoice?.bill?.paidAmount }}</p>
												<div style="clear:both;height:1px"></div>
											</td>
											<td style="padding:15px">
												<p style="margin:0 0 10px;color:#7A6D5D;font-size: 14px">المبلغ المتبقى
												</p>
												<p style="margin:0;color:#7A6D5D">Balance Amt.</p>
											</td>
											<td style="padding:15px">
												{{ (getInvoiceServicesTotal() + currentInvoice?.vat) - currentInvoice?.bill?.paidAmount
												< 0 ? 0 : (getInvoiceServicesTotal()
												 + currentInvoice?.vat) - currentInvoice?.bill?.paidAmount }} </td>
										</tr>
									</tbody>
								</table>
							</div>

							<div style="margin-top:10px" dir="rtl">
								<h3>ملحوظة: المبلغ المدفوع لا يرد بعد بداية العام</h3>
							</div>

							<div style="margin-top:50px;text-align:center" dir="rtl">
								<p>التوقيع
									<strong style="color:#7A6D5D">______________________________</strong>
									Signature</p>
							</div>

							<div style="padding:15px;margin-top:50px;background:#7A6D5D;color:white;text-align:center">
								{{ currentInvoice?.reservation?.branch?.address + ' - التليفون: ' + currentInvoice?.reservation?.branch?.phone }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>